/* src/pages/Dashboard/Dashboard.css */

.revenue-grid {
  display: grid;
  grid-template-columns: auto 400px;
  gap: 20px;
  margin-top: 40px;
  position: relative;
  z-index: 2;
}

.charts-grid {
  display: grid;
  grid-template-columns: 1fr 1fr; /* Pour afficher deux colonnes de taille égale */
  gap: 20px;
  margin-top: 20px;
}

.revenue-grid > .spotlight {
  width: 100%;
  height: 100px;
  top: 50%;
  transform: translateY(-50%);
}

@media screen and (max-width: 855px) {
  .revenue-grid {
    grid-template-columns: 100%;
  }
  .charts-grid {
    grid-template-columns: 100%; /* Pour empiler les graphiques sur les petits écrans */
  }
}